<a href="https://colab.research.google.com/github/Ngondzana/Ngondzana/blob/main/Pyspark_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 42 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=db9d3a15245a82da43feca59f51cbaea2a2f56f92c6bb01bb9ee5fb4376a7edd
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# importing libraries

import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Let us import spark 
import pyspark

In [ ]:
# Initialize sparkSession

from pyspark.sql import SparkSession

In [ ]:
#create SparkSession

spark= SparkSession.builder.appName("mentorship").getOrCreate()

In [ ]:
# Version of spark used

spark

In [ ]:
df = pd.read_csv("/content/orders_history.csv")

In [ ]:
df.head()

,order_date,order_qty,customer_id,product_category_id,cost_per_unit,price_per_unit
0,2019-12-11,4532,1,3,756.832786,761.162786
1,2019-10-06,1638,3,1,634.448228,707.448228
2,2018-05-25,3001,3,3,544.046991,646.316991
3,2020-05-28,4846,2,1,1003.471268,1045.401268
4,2019-04-24,3035,1,3,564.212049,658.042049

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df_pyspark = spark.read.option('header', 'true')\
.csv('/content/orders_history.csv')

In [ ]:
df_pyspark.show(5)

+----------+---------+-----------+-------------------+------------------+-----------------+
|order_date|order_qty|customer_id|product_category_id|     cost_per_unit|   price_per_unit|
+----------+---------+-----------+-------------------+------------------+-----------------+
|2019-12-11|     4532|          1|                  3| 756.8327860226977|761.1627860226977|
|2019-10-06|     1638|          3|                  1| 634.4482280549901|707.4482280549901|
|2018-05-25|     3001|          3|                  3| 544.0469908976758|646.3169908976757|
|2020-05-28|     4846|          2|                  1|1003.4712684018123|1045.401268401812|
|2019-04-24|     3035|          1|                  3| 564.2120493167922|658.0420493167923|
+----------+---------+-----------+-------------------+------------------+-----------------+
only showing top 5 rows

In [ ]:
# Printing the schema
df_pyspark.printSchema()

root
 |-- order_date: string (nullable = true)
 |-- order_qty: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- product_category_id: string (nullable = true)
 |-- cost_per_unit: string (nullable = true)
 |-- price_per_unit: string (nullable = true)

In [ ]:
# Describe the data set
df_pyspark.select("order_qty", "cost_per_unit", "price_per_unit").describe().show()

+-------+------------------+------------------+------------------+
|summary|         order_qty|     cost_per_unit|    price_per_unit|
+-------+------------------+------------------+------------------+
|  count|             10000|             10000|             10000|
|   mean|          2560.478| 822.8265777416062| 922.1906877416013|
| stddev|1415.4584061589203| 556.7540107495198| 556.5524084292948|
|    min|               100|1000.0461580036042|1000.4675061494057|
|    max|               998| 999.9214824673857| 998.9206957159524|
+-------+------------------+------------------+------------------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

### Implementing the load into POSTGRES

In [ ]:
# Create SQLAlchemy engine

engine = create_engine("postgresql+psycopg2://postgres:password@localhost/Transactions?client_encoding=utf8")

In [ ]:
# Save result to the database via engine

df_pyspark.to_sql('orders_history', engine, index=False, if_exists='replace')

AttributeError: ignored